.modal_container {
  width: 320px;
  height: fit-content;
  padding: 0 10px 10px 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
img {
  width: 100%;
}
.modal_headings {
  font-size: 14px;
  font-weight: 600 !important;
}

.selectSize {
  display: inline;
  margin-right: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.quantity_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55%;
  margin-top: 10px;
}
.btn {
 
  font-weight: bold;
  
}
.choose {
  margin: 10px 0px;
}

.chooseSize {
  text-transform: capitalize;
}
.addToCart {
  margin: -5px 0px 10px 10px !important;
}
